.header-container {
  display: flex;
  align-items: center;
  max-width: 1280px;
  height: 90px;
  box-shadow: 0 4px 4px rgba(0, 0.25, 0, 0.25);
  position: sticky;
}

.logo-container {
  display: flex;
  margin-left: 90px;
  margin-right: 0;
}

.title-container {
  display: flex;
  text-align: left;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 20px;
}

.title-container span {
  margin-left: 0;
  margin-right: 770px;
  font-size: 32px;
  line-height: 28.17px;
  font-family: "Inter", sans-serif;
}

.hamgugger-container {
  justify-content: right;
}
