.product-container {
  display: flex;
  max-width: 1280px;
  height: 640px;
  align-items: center;
  justify-content: center;
  border: 2px solid royalblue;
}

.product-content {
  display: flex;
  width: 1128px;
  height: 640px;
  align-items: center;
  justify-content: center;
  border: 2px solid pink;
}
